---
layout: default 
---

<h1>Surat {{ site.nama_surat[1] }}</h1>
{% for x in site.surat_1 %}
	<div class="row bagian_1_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[2] }}</h1>
{% for x in site.surat_2 %}
	<div class="row  bagian_2_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[3] }}</h1>
{% for x in site.surat_3 %}
	<div class="row  bagian_3_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[4] }}</h1>
{% for x in site.surat_4 %}
	<div class="row  bagian_4_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[5] }}</h1>
{% for x in site.surat_5 %}
	<div class="row  bagian_5_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[6] }}</h1>
{% for x in site.surat_6 %}
	<div class="row  bagian_6_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[7] }}</h1>
{% for x in site.surat_7 %}
	<div class="row  bagian_7_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}