---
layout: default 
---

<h1>Surat {{ site.nama_surat[1] }}</h1>
{% for x in site.surat_1 %}
	<div class="row bagian_1_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[2] }}</h1>
{% for x in site.surat_2 %}
	<div class="row  bagian_2_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[3] }}</h1>
{% for x in site.surat_3 %}
	<div class="row  bagian_3_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[4] }}</h1>
{% for x in site.surat_4 %}
	<div class="row  bagian_4_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[5] }}</h1>
{% for x in site.surat_5 %}
	<div class="row  bagian_5_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[6] }}</h1>
{% for x in site.surat_6 %}
	<div class="row  bagian_6_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[7] }}</h1>
{% for x in site.surat_7 %}
	<div class="row  bagian_7_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[8] }}</h1>
{% for x in site.surat_8 %}
	<div class="row  bagian_8_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[9] }}</h1>
{% for x in site.surat_9 %}
	<div class="row  bagian_9_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[10] }}</h1>
{% for x in site.surat_10 %}
	<div class="row  bagian_10_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[11] }}</h1>
{% for x in site.surat_11 %}
	<div class="row  bagian_11_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[12] }}</h1>
{% for x in site.surat_12 %}
	<div class="row  bagian_12_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[13] }}</h1>
{% for x in site.surat_13 %}
	<div class="row  bagian_13_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[14] }}</h1>
{% for x in site.surat_14 %}
	<div class="row  bagian_14_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[15] }}</h1>
{% for x in site.surat_15 %}
	<div class="row  bagian_15_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[16] }}</h1>
{% for x in site.surat_16 %}
	<div class="row  bagian_16_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[17] }}</h1>
{% for x in site.surat_17 %}
	<div class="row  bagian_17_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[18] }}</h1>
{% for x in site.surat_18 %}
	<div class="row  bagian_18_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[19] }}</h1>
{% for x in site.surat_19 %}
	<div class="row  bagian_19_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[20] }}</h1>
{% for x in site.surat_20 %}
	<div class="row  bagian_20_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[21] }}</h1>
{% for x in site.surat_21 %}
	<div class="row  bagian_21_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[22] }}</h1>
{% for x in site.surat_22 %}
	<div class="row  bagian_22_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[23] }}</h1>
{% for x in site.surat_23 %}
	<div class="row  bagian_23_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[24] }}</h1>
{% for x in site.surat_24 %}
	<div class="row  bagian_24_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[25] }}</h1>
{% for x in site.surat_25 %}
	<div class="row  bagian_25_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[26] }}</h1>
{% for x in site.surat_26 %}
	<div class="row  bagian_26_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[27] }}</h1>
{% for x in site.surat_27 %}
	<div class="row  bagian_27_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[28] }}</h1>
{% for x in site.surat_28 %}
	<div class="row  bagian_28_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[29] }}</h1>
{% for x in site.surat_29 %}
	<div class="row  bagian_29_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[30] }}</h1>
{% for x in site.surat_30 %}
	<div class="row  bagian_30_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[31] }}</h1>
{% for x in site.surat_31 %}
	<div class="row  bagian_31_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[32] }}</h1>
{% for x in site.surat_32 %}
	<div class="row  bagian_32_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[33] }}</h1>
{% for x in site.surat_33 %}
	<div class="row  bagian_33_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[34] }}</h1>
{% for x in site.surat_34 %}
	<div class="row  bagian_34_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[35] }}</h1>
{% for x in site.surat_35 %}
	<div class="row  bagian_35_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[36] }}</h1>
{% for x in site.surat_36 %}
	<div class="row  bagian_36_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[37] }}</h1>
{% for x in site.surat_37 %}
	<div class="row  bagian_37_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[38] }}</h1>
{% for x in site.surat_38 %}
	<div class="row  bagian_38_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[39] }}</h1>
{% for x in site.surat_39 %}
	<div class="row  bagian_39_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[40] }}</h1>
{% for x in site.surat_40 %}
	<div class="row  bagian_40_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[41] }}</h1>
{% for x in site.surat_41 %}
	<div class="row  bagian_41_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[42] }}</h1>
{% for x in site.surat_42 %}
	<div class="row  bagian_42_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[43] }}</h1>
{% for x in site.surat_43 %}
	<div class="row  bagian_43_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[44] }}</h1>
{% for x in site.surat_44 %}
	<div class="row  bagian_44_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[45] }}</h1>
{% for x in site.surat_45 %}
	<div class="row  bagian_45_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[46] }}</h1>
{% for x in site.surat_46 %}
	<div class="row  bagian_46_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[47] }}</h1>
{% for x in site.surat_47 %}
	<div class="row  bagian_47_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[48] }}</h1>
{% for x in site.surat_48 %}
	<div class="row  bagian_48_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[49] }}</h1>
{% for x in site.surat_49 %}
	<div class="row  bagian_49_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[50] }}</h1>
{% for x in site.surat_50 %}
	<div class="row  bagian_50_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[51] }}</h1>
{% for x in site.surat_51 %}
	<div class="row  bagian_51_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[52] }}</h1>
{% for x in site.surat_52 %}
	<div class="row  bagian_52_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[53] }}</h1>
{% for x in site.surat_53 %}
	<div class="row  bagian_53_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[54] }}</h1>
{% for x in site.surat_54 %}
	<div class="row  bagian_54_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[55] }}</h1>
{% for x in site.surat_55 %}
	<div class="row  bagian_55_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[56] }}</h1>
{% for x in site.surat_56 %}
	<div class="row  bagian_56_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[57] }}</h1>
{% for x in site.surat_57 %}
	<div class="row  bagian_57_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[58] }}</h1>
{% for x in site.surat_58 %}
	<div class="row  bagian_58_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[59] }}</h1>
{% for x in site.surat_59 %}
	<div class="row  bagian_59_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[60] }}</h1>
{% for x in site.surat_60 %}
	<div class="row  bagian_60_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[61] }}</h1>
{% for x in site.surat_61 %}
	<div class="row  bagian_61_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[62] }}</h1>
{% for x in site.surat_62 %}
	<div class="row  bagian_62_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[63] }}</h1>
{% for x in site.surat_63 %}
	<div class="row  bagian_63_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[64] }}</h1>
{% for x in site.surat_64 %}
	<div class="row  bagian_64_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[65] }}</h1>
{% for x in site.surat_65 %}
	<div class="row  bagian_65_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[66] }}</h1>
{% for x in site.surat_66 %}
	<div class="row  bagian_66_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[67] }}</h1>
{% for x in site.surat_67 %}
	<div class="row  bagian_67_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[68] }}</h1>
{% for x in site.surat_68 %}
	<div class="row  bagian_68_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[69] }}</h1>
{% for x in site.surat_69 %}
	<div class="row  bagian_69_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[70] }}</h1>
{% for x in site.surat_70 %}
	<div class="row  bagian_70_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[71] }}</h1>
{% for x in site.surat_71 %}
	<div class="row  bagian_71_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[72] }}</h1>
{% for x in site.surat_72 %}
	<div class="row  bagian_72_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[73] }}</h1>
{% for x in site.surat_73 %}
	<div class="row  bagian_73_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[74] }}</h1>
{% for x in site.surat_74 %}
	<div class="row  bagian_74_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[75] }}</h1>
{% for x in site.surat_75 %}
	<div class="row  bagian_75_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[76] }}</h1>
{% for x in site.surat_76 %}
	<div class="row  bagian_76_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[77] }}</h1>
{% for x in site.surat_77 %}
	<div class="row  bagian_77_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[78] }}</h1>
{% for x in site.surat_78 %}
	<div class="row  bagian_78_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[79] }}</h1>
{% for x in site.surat_79 %}
	<div class="row  bagian_79_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[80] }}</h1>
{% for x in site.surat_80 %}
	<div class="row  bagian_80_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[81] }}</h1>
{% for x in site.surat_81 %}
	<div class="row  bagian_81_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[82] }}</h1>
{% for x in site.surat_82 %}
	<div class="row  bagian_82_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[83] }}</h1>
{% for x in site.surat_83 %}
	<div class="row  bagian_83_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[84] }}</h1>
{% for x in site.surat_84 %}
	<div class="row  bagian_84_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[85] }}</h1>
{% for x in site.surat_85 %}
	<div class="row  bagian_85_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[86] }}</h1>
{% for x in site.surat_86 %}
	<div class="row  bagian_86_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[87] }}</h1>
{% for x in site.surat_87 %}
	<div class="row  bagian_87_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[88] }}</h1>
{% for x in site.surat_88 %}
	<div class="row  bagian_88_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[89] }}</h1>
{% for x in site.surat_89 %}
	<div class="row  bagian_89_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[90] }}</h1>
{% for x in site.surat_90 %}
	<div class="row  bagian_90_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[91] }}</h1>
{% for x in site.surat_91 %}
	<div class="row  bagian_91_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[92] }}</h1>
{% for x in site.surat_92 %}
	<div class="row  bagian_92_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[93] }}</h1>
{% for x in site.surat_93 %}
	<div class="row  bagian_93_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[94] }}</h1>
{% for x in site.surat_94 %}
	<div class="row  bagian_94_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[95] }}</h1>
{% for x in site.surat_95 %}
	<div class="row  bagian_95_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[96] }}</h1>
{% for x in site.surat_96 %}
	<div class="row  bagian_96_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[97] }}</h1>
{% for x in site.surat_97 %}
	<div class="row  bagian_97_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[98] }}</h1>
{% for x in site.surat_98 %}
	<div class="row  bagian_98_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[99] }}</h1>
{% for x in site.surat_99 %}
	<div class="row  bagian_99_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[100] }}</h1>
{% for x in site.surat_100 %}
	<div class="row  bagian_100_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[101] }}</h1>
{% for x in site.surat_101 %}
	<div class="row  bagian_101_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[102] }}</h1>
{% for x in site.surat_102 %}
	<div class="row  bagian_102_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[103] }}</h1>
{% for x in site.surat_103 %}
	<div class="row  bagian_103_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[104] }}</h1>
{% for x in site.surat_104 %}
	<div class="row  bagian_104_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[105] }}</h1>
{% for x in site.surat_105 %}
	<div class="row  bagian_105_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[106] }}</h1>
{% for x in site.surat_106 %}
	<div class="row  bagian_106_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[107] }}</h1>
{% for x in site.surat_107 %}
	<div class="row  bagian_107_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[108] }}</h1>
{% for x in site.surat_108 %}
	<div class="row  bagian_108_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[109] }}</h1>
{% for x in site.surat_109 %}
	<div class="row  bagian_109_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[110] }}</h1>
{% for x in site.surat_110 %}
	<div class="row  bagian_110_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[111] }}</h1>
{% for x in site.surat_111 %}
	<div class="row  bagian_111_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[112] }}</h1>
{% for x in site.surat_112 %}
	<div class="row  bagian_112_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[113] }}</h1>
{% for x in site.surat_113 %}
	<div class="row  bagian_113_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}

<h1>Surat {{ site.nama_surat[114] }}</h1>
{% for x in site.surat_114 %}
	<div class="row  bagian_114_{{ x.nomor }}">
		<div class="col-xs-2">
			<h2>{{ x.nomor }}</h2>
		</div>
		<div class="col-xs-10">
			<h2 class="arab">{{ x.arab }}</h2>
			<h3 class="isi">{{ x.indonesia }}</h3>
		</div>
	</div>
{% endfor %}